<launch>

	<node pkg="rosbag" name="data" type="play" launch-prefix="xterm -e"
		args="$(env HOME)/catkin_ws/src/rosbag_data/Fly_Test_1.bag -l">

		<remap from="/stereo/disparity" to="/stereo/disparity_record" />
		<remap from="/stereo/depth" to="/stereo/depth_record" />
	</node>


	<node pkg="stereo_gpu" name="stereo_gpu" type="stereo_gpu_node" required="true" output="screen" />

	<node pkg="rviz" type="rviz" name="pcl_viewer" args="-d $(env HOME)/catkin_ws/src/NTU-ST-UAV/pcl_visualization.rviz"/>

</launch>
